/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --font-color: #757575;
  --title-font-color: #212121;
  --site-accent-color: #2196f3;
  --bg-active-button: #188ce8;
  --logo-color-white: #ffffff;
  --logo-color-black: #000000;
  --hero-title-color: #ffffff;
  --background-color: #ffffff;
  --hero-background-color: #2f303a;
  --hero-bg-gradient-color: rgba(47, 48, 58, 0.4);
  --team-background-color: #f5f4fa;
  --icon-fill-color: #afb1b8;
  --page-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --header-border-color: #ececec;
  --box-wrap-bg-color: rgba(47, 48, 58, 0.8);
  --footer-soclink-bg-color: rgba(255, 255, 255, 0.1);
  --address-link-color: rgba(255, 255, 255, 0.6);
  --subscribe-placeholder-color: rgba(255, 255, 255, 0.6);
  --subscribe-input-border-color: rgba(255, 255, 255, 0.3);
  --subscribe-backdrop-color: rgba(0, 0, 0, 0.15);
  --modal-backdrop-color: rgba(0, 0, 0, 0.2);
  --close-btn-border-color: rgba(0, 0, 0, 0.1);
  --contact-form-border-color: rgba(33, 33, 33, 0.2);
  --contact-form-placeholder-color: rgba(117, 117, 117, 0.5);
  --work-desc-border-color: #eeeeee;
  --work-overlay-bg-color: rgba(33, 150, 243, 0.9);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: var(--primary-font, sans-serif);
  color: var(--font-color);
  letter-spacing: 0.03em;
  background-color: var(--background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  position: relative;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1666666667;
  text-align: center;
  color: var(--title-font-color);
}

.page-header {
  border-bottom: 1px solid var(--header-border-color);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--background-color);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
  .auth-nav {
    display: none;
  }
  .page-nav__logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 95px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-nav__logo {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    display: inline-block;
    color: var(--title-font-color);
    -webkit-transition: color var(--page-transition);
    transition: color var(--page-transition);
  }
  .site-nav__link:hover, .site-nav__link:focus, .site-nav__link_current {
    color: var(--site-accent-color);
  }
  .site-nav__link_current::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: var(--site-accent-color);
    border-radius: 2px;
    bottom: -1px;
  }
  .auth-nav__link {
    color: var(--font-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    -webkit-transition: color var(--page-transition);
    transition: color var(--page-transition);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--site-accent-color);
  }
  .auth-nav__icon {
    fill: currentColor;
  }
  .auth-nav__link {
    color: var(--font-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    -webkit-transition: color var(--page-transition);
    transition: color var(--page-transition);
  }
  .auth-nav__link:hover, .auth-nav__link:focus {
    color: var(--site-accent-color);
  }
  .auth-nav__icon {
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav__item:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
  }
  .auth-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.logo {
  display: block;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1666666667;
  font-family: var(--logo-font, sans-serif);
  text-decoration: none;
  color: var(--site-accent-color);
}
.logo__part_color_black {
  color: var(--logo-color-black);
}
.logo__part_color_white {
  color: var(--logo-color-white);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
  }
}
.page-main {
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .page-main {
    margin-top: 80px;
  }
}
.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--hero-title-color);
  background-color: var(--site-accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  -webkit-transition: background-color var(--page-transition);
  transition: background-color var(--page-transition);
}
.button:hover, .button:focus {
  background-color: var(--bg-active-button);
}

@media screen and (max-width: 767px) {
  .menu-btn {
    display: block;
    border: none;
    background-color: transparent;
  }
  .menu-btn__svg {
    fill: var(--title-font-color);
  }
  .menu-container {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    left: 50%;
    top: 0;
    height: 95vh;
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 8%;
    z-index: 999;
    background-color: var(--background-color);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: opacity var(--page-transition), visibility var(--page-transition);
    transition: opacity var(--page-transition), visibility var(--page-transition);
  }
  .menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  .menu-close-svg__btn {
    fill: var(--title-font-color);
  }
  .menu-close-btn:hover .menu-close-svg__btn, .menu-close-btn:focus .menu-close-svg__btn {
    fill: var(--site-accent-color);
  }
  .menu-nav__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.175;
    text-decoration-line: none;
    letter-spacing: 0.02em;
    color: var(--title-font-color);
    display: block;
    padding-bottom: 32px;
  }
  .menu-nav__link_current {
    color: var(--site-accent-color);
  }
  .menu-container__tel {
    display: block;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.1764705882;
    letter-spacing: 0.02em;
    color: var(--site-accent-color);
    padding-bottom: 32px;
  }
  .menu-container__email {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1666666667;
    letter-spacing: 0.02em;
    color: var(--font-color);
    padding-bottom: 32px;
  }
  .menu-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-socials__item {
    position: relative;
  }
  .menu-socials__item:not(:last-child)::after {
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 1.17em;
    background-color: var(--contact-form-border-color);
    right: -10px;
    bottom: 0;
  }
  .menu-socials__link {
    display: block;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2222222222;
    letter-spacing: 0.02em;
    color: var(--site-accent-color);
    text-align: center;
    padding-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .menu-btn,
  .menu-container {
    display: none;
  }
}
.hero {
  background-color: var(--hero-background-color);
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-gradient-color)), to(var(--hero-bg-gradient-color))), url(../images/hero-bg-480x400.jpg);
  background-image: linear-gradient(var(--hero-bg-gradient-color), var(--hero-bg-gradient-color)), url(../images/hero-bg-480x400.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-gradient-color)), to(var(--hero-bg-gradient-color))), url(../images/hero-bg-480x400@2x.jpg);
    background-image: linear-gradient(var(--hero-bg-gradient-color), var(--hero-bg-gradient-color)), url(../images/hero-bg-480x400@2x.jpg);
  }
}
.hero__container {
  text-align: center;
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  width: 360px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero__btn {
  padding: 10px 24px;
}

@media screen and (max-width: 390px) {
  .hero__title {
    width: 90vw;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-gradient-color)), to(var(--hero-bg-gradient-color))), url(../images/hero-bg-768x400.jpg);
    background-image: linear-gradient(var(--hero-bg-gradient-color), var(--hero-bg-gradient-color)), url(../images/hero-bg-768x400.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-gradient-color)), to(var(--hero-bg-gradient-color))), url(../images/hero-bg-768x400@2x.jpg);
    background-image: linear-gradient(var(--hero-bg-gradient-color), var(--hero-bg-gradient-color)), url(../images/hero-bg-768x400@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: var(--hero-background-color);
    max-width: 1600px;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-gradient-color)), to(var(--hero-bg-gradient-color))), url(../images/hero-bg-1600x600.jpg);
    background-image: linear-gradient(var(--hero-bg-gradient-color), var(--hero-bg-gradient-color)), url(../images/hero-bg-1600x600.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-gradient-color)), to(var(--hero-bg-gradient-color))), url(../images/hero-bg-1600x600@2x.jpg);
    background-image: linear-gradient(var(--hero-bg-gradient-color), var(--hero-bg-gradient-color)), url(../images/hero-bg-1600x600@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    width: 696px;
  }
}
.features__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--title-font-color);
  margin-top: 0;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  margin: 0;
}

.features__thumb {
  width: 100%;
  height: 120px;
  background: var(--team-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 1199px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
  }
  .features__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 1199px) {
  .box {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .box__title {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .box__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .box__item {
    position: relative;
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .box__wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--box-wrap-bg-color);
    padding-top: 27px;
    padding-bottom: 27px;
  }
  .box__text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1428571429;
    text-transform: uppercase;
    color: var(--hero-title-color);
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
}
.team {
  background-color: var(--team-background-color);
  padding: 60px 0px;
}

.team__title {
  margin-top: 0;
  margin-bottom: 30px;
}

.team__card {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: var(--background-color);
  width: calc(100% - 30px);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  color: var(--title-font-color);
  margin-top: 0;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .team__card {
    margin-bottom: 0;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0px;
  }
  .team__title {
    margin-bottom: 50px;
  }
  .team__card {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
  }
}
.socials-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
  margin-top: 0;
  margin-bottom: 20px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--page-transition);
  transition: background-color var(--page-transition);
}
.socials__link_background_opacity {
  background-color: var(--footer-soclink-bg-color);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--site-accent-color);
}

.socials__icon {
  fill: var(--icon-fill-color);
  -webkit-transition: fill var(--page-transition);
  transition: fill var(--page-transition);
}
.socials__icon_color_white {
  fill: var(--hero-title-color);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--logo-color-white);
}

.clients__title {
  margin-top: 0;
  margin-bottom: 30px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__link {
  width: 100%;
  height: 92px;
  border: 1px solid var(--icon-fill-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: border-color var(--page-transition);
  transition: border-color var(--page-transition);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--site-accent-color);
}

.clients__icon {
  fill: var(--icon-fill-color);
  -webkit-transition: fill var(--page-transition);
  transition: fill var(--page-transition);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--site-accent-color);
}

@media screen and (max-width: 767px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}
.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__subscribe-form {
    -ms-flex-preferred-size: 450px;
        flex-basis: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
  .footer__socials-title {
    text-align: center;
  }
  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__address,
  .footer__socials {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .footer__subscribe-form {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe-form {
    -ms-flex-preferred-size: 570px;
        flex-basis: 570px;
  }
  .footer__address {
    -ms-flex-preferred-size: 231px;
        flex-basis: 231px;
  }
  .footer__socials {
    margin-left: 70px;
    margin-right: 93px;
  }
}
.address {
  margin-top: 20px;
}

.address__item {
  margin-bottom: 8px;
}
.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  color: var(--hero-title-color);
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  text-decoration-line: none;
}
.address__link_color_opacity {
  color: var(--address-link-color);
}

@media screen and (max-width: 1199px) {
  .address__item {
    text-align: center;
  }
}
.subscribe {
  width: 100%;
}

.subscribe__label {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  display: block;
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.subscribe__input {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid var(--subscribe-input-border-color);
  -webkit-backdrop-filter: drop-shadow(0px 4px 4px var(--subscribe-backdrop-color));
          backdrop-filter: drop-shadow(0px 4px 4px var(--subscribe-backdrop-color));
  border-radius: 4px;
  background-color: transparent;
  color: var(--hero-title-color);
  outline: none;
}
.subscribe__input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--subscribe-placeholder-color);
}
.subscribe__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--subscribe-placeholder-color);
}
.subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--subscribe-placeholder-color);
}
.subscribe__input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--subscribe-placeholder-color);
}
.subscribe__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--subscribe-placeholder-color);
}

.subscribe__btn {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
  width: 200px;
  height: 50px;
}
.subscribe__btn-icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .subscribe__label {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .subscribe__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}
.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-backdrop-color);
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity var(--page-transition), visibility var(--page-transition);
  transition: opacity var(--page-transition), visibility var(--page-transition);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: var(--background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform var(--page-transition);
  transition: -webkit-transform var(--page-transition);
  transition: transform var(--page-transition);
  transition: transform var(--page-transition), -webkit-transform var(--page-transition);
}
.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
}

@media screen and (max-width: 479px) {
  .modal {
    width: 95vw;
  }
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
@media screen and ((orientation: landscape) or (max-height: 608px)) {
  .modal {
    width: 528px;
  }
}
.close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--close-btn-border-color);
  border-radius: 50%;
  background-color: var(--background-color);
  cursor: pointer;
}

.close-btn__icon {
  fill: currentColor;
  -webkit-transition: fill var(--page-transition);
  transition: fill var(--page-transition);
}
.close-btn:hover .close-btn__icon, .close-btn:focus .close-btn__icon {
  fill: var(--site-accent-color);
}

.contact-form {
  padding: 40px;
}

.contact-form__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--title-font-color);
}

.contact-form__label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  display: block;
  margin-bottom: 10px;
  letter-spacing: 0.01em;
  color: var(--font-color);
}

.contact-form__textarea-label {
  margin-bottom: 20px;
}

.contact-form__input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid var(--contact-form-border-color);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  -webkit-transition: border-color var(--page-transition);
  transition: border-color var(--page-transition);
}
.contact-form__input:focus {
  border-color: var(--site-accent-color);
}

.contact-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: currentColor;
  -webkit-transition: fill var(--page-transition);
  transition: fill var(--page-transition);
}
.contact-form__input:focus + .contact-form__icon {
  fill: var(--site-accent-color);
}

.contact-form__textarea-input {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
}
.contact-form__textarea-input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: var(--contact-form-placeholder-color);
}
.contact-form__textarea-input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: var(--contact-form-placeholder-color);
}
.contact-form__textarea-input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: var(--contact-form-placeholder-color);
}
.contact-form__textarea-input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: var(--contact-form-placeholder-color);
}
.contact-form__textarea-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: var(--contact-form-placeholder-color);
}

.contact-form__policy-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--font-color);
}

.contact-form__checkbox-icon {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-font-color);
  background-color: var(--background-color);
  border-radius: 2px;
  fill: var(--hero-title-color);
  -webkit-transition: background-color var(--page-transition), border-color var(--page-transition);
  transition: background-color var(--page-transition), border-color var(--page-transition);
}
.contact-form__policy-checkbox:checked + .contact-form__checkbox-icon {
  background-color: var(--site-accent-color);
  border-color: transparent;
}
.contact-form__policy-checkbox:focus + .contact-form__checkbox-icon {
  border-color: var(--site-accent-color);
}

.contact-form__policy-link {
  color: var(--site-accent-color);
}

.contact-form__btn {
  display: block;
  margin-top: 31px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
}

@media screen and ((orientation: landscape) or (max-height: 608px)) {
  .contact-form {
    padding: 10px;
  }
  .contact-form__title {
    margin-bottom: 0;
  }
  .contact-form__label {
    margin-bottom: 5px;
  }
  .contact-form__textarea-label {
    margin-bottom: 10px;
  }
  .contact-form__textarea-input {
    height: 40px;
  }
  .contact-form__btn {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-form__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
  .contact-form__policy-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7142857143;
  }
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  font-family: inherit;
  text-align: center;
  color: var(--title-font-color);
  background-color: var(--team-background-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  -webkit-transition: color var(--page-transition), background-color var(--page-transition), -webkit-box-shadow var(--page-transition);
  transition: color var(--page-transition), background-color var(--page-transition), -webkit-box-shadow var(--page-transition);
  transition: color var(--page-transition), background-color var(--page-transition), box-shadow var(--page-transition);
  transition: color var(--page-transition), background-color var(--page-transition), box-shadow var(--page-transition), -webkit-box-shadow var(--page-transition);
}
.portfolio__button_first {
  padding-left: 25px;
  padding-right: 25px;
}
.portfolio__button:hover, .portfolio__button:focus {
  color: var(--hero-title-color);
  background-color: var(--site-accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.portfolio__item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .portfolio__filter {
    max-width: 350px;
    margin-bottom: 40px;
  }
  .portfolio__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.work__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration-line: none;
  -webkit-transition: -webkit-box-shadow var(--page-transition);
  transition: -webkit-box-shadow var(--page-transition);
  transition: box-shadow var(--page-transition);
  transition: box-shadow var(--page-transition), -webkit-box-shadow var(--page-transition);
}
.work__link:hover, .work__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  overflow: hidden;
}

.work__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 24px;
  padding-right: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  background-color: var(--work-overlay-bg-color);
  -webkit-transition: -webkit-transform var(--page-transition);
  transition: -webkit-transform var(--page-transition);
  transition: transform var(--page-transition);
  transition: transform var(--page-transition), -webkit-transform var(--page-transition);
}
.work__link:hover .work__overlay, .work__link:focus .work__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.work__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5555555556;
  color: var(--hero-title-color);
  margin-top: 0;
  margin-bottom: 0;
}

.work__desc-box {
  padding: 20px 24px;
  border-right: 1px solid var(--work-desc-border-color);
  border-left: 1px solid var(--work-desc-border-color);
  border-bottom: 1px solid var(--work-desc-border-color);
  height: 100%;
}

.work__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-font-color);
  margin-top: 0;
  margin-bottom: 4px;
}

.work__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  color: var(--font-color);
  margin: 0;
}/*# sourceMappingURL=main.css.map */