@media screen and (max-width: 767px) {
  .menu-btn {
    display: block;
    border: none;
    background-color: transparent;
  }

  .menu-btn__svg {
    fill: var(--title-font-color);
    transition: fill var(--page-transition);

    .menu-btn:hover &,
    .menu-btn:focus & {
      fill: var(--site-accent-color);
    }
  }

  .menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 50%;
    top: 0;
    height: 100vh;
    padding-top: 48px;
    padding-left: 20px;
    z-index: 999;
    background-color: var(--background-color);
    transform: translateX(-50%);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--page-transition),
      visibility var(--page-transition);

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }

  .menu-close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }

  .menu-close-svg__btn {
    fill: var(--title-font-color);
    transition: fill var(--page-transition);

    .menu-close-btn:hover &,
    .menu-close-btn:focus & {
      fill: var(--site-accent-color);
    }
  }

  .menu-nav__link {
    @include font(40px, 500, 47px);
    text-decoration-line: none;
    letter-spacing: 0.02em;
    color: var(--title-font-color);
    display: block;
    padding-bottom: 32px;

    &_current {
      color: var(--site-accent-color);
    }
  }
  .menu-container__tel {
    display: block;
    @include font(28px, 500, 40px);
    letter-spacing: 0.02em;
    color: var(--site-accent-color);
    padding-bottom: 32px;
  }

  .menu-container__email {
    display: block;
    @include font(24px, 500, 28px);
    letter-spacing: 0.02em;
    color: var(--font-color);
    padding-bottom: 32px;
  }

  .menu-socials {
    display: flex;
    gap: 5px;
  }

  .menu-socials__item {
    position: relative;

    &:not(:last-child)::after {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      height: 1.17em;
      background-color: var(--contact-form-border-color);
      right: -2.5px;
      bottom: 48px;
    }
  }

  .menu-socials__link {
    display: block;
    @include font(14px, 500, 22px);
    letter-spacing: 0.02em;
    color: var(--site-accent-color);
    text-align: center;
    padding-top: 32px;
    padding-bottom: 48px;
  }

  @media screen and (min-width: 400px) {
    .menu-container {
      padding-left: 40px;
    }
    .menu-container__tel {
      @include font(34px, 500, 40px);
    }

    .menu-socials__link {
      @include font(18px, 500, 22px);
    }
    .menu-socials {
      gap: 20px;
    }
    .menu-socials__item:not(:last-child)::after {
      right: -10px;
    }
  }
}

@media screen and (min-width: 768px) {
  .menu-btn,
  .menu-container {
    display: none;
  }
}
